.navigation {
    background-color: var(--yellow);
    padding: 1rem;
  
    
}
.logo {
    color: var(--primary-brown1);
}
.drawer{
    background-color:var(--yellow-light);
    position:fixed;
    border-radius: 7px;
    
}

#nav-container {
   
    width: 100%;
    position: fixed;
    top: 0;
}

@media screen and (max-width:600px) {

    .h1 {
        font-size: 38px;
    }

    .p3 {

        font-size: 20px;
        line-height: 24px;
    }
    .drawer{
        visibility: hidden;
    }

}