.navigation {
    background-color: var(--yellow);
    padding: 1rem;
}
.logo {
    color: var(--primary-brown1);
}
.drawer{
    border-radius: 7px;
    color:var(--grey);
    height: 100%;
    width: 180px;
    position: fixed; 
    z-index: 1; 
    top: 100px; 
    left: 0;
    overflow-x: hidden; 
    padding-top: 20px;
}
.main-body{
    margin-left:15rem;
}
.component-container{
    text-align:left;

}
iframe{
    width:851px;
    height:303px;
}

#nav-container {
   
    width: 100%;
    position: fixed;
    top: 0;
}
iframe{
    overflow-x: auto;
    
}
.text p{
    width:60%;
}
h3{
    color:var(--grey);
}



@media screen and (max-width:1100px) {
    iframe{
        width:651px;
        height:303px;
    }
}

@media screen and (max-width:900px) {
    iframe{
        width:451px;
        height:303px;
    }
    .text p{
        width:80%;
    }
}
@media screen and (max-width:600px) {

    .h1 {
        font-size: 38px;
    }

    .p3 {

        font-size: 20px;
        line-height: 24px;
    }

    .p4{
        font-size:13px;
    }
    
    iframe{
        width:400px;
        height:303px;
    }
    .drawer{
        visibility: hidden;
        width:0px;
        height:0px;
        padding:0px;
        margin:0px
    }
    .main-body{
        margin-left:2rem;
    }
  

}
