/* Typography : Heading  */
.h1 {
    font-size: 48px;
    line-height: 64px;
}

.h2 {
    font-size: 32px;
    line-height: 40px;
    color:black;
}

.h3 {
    font-size: 24px;
    line-height: 32px;
    color:black;
}

.h4 {
    font-size: 16px;
    line-height: 24px;
}

.h5 {
    font-size: 12px;
    line-height: 16px;
}

/* typography: text*/
.p1 {
    font-size: 48px;
    line-height: 64px;
}

.p2 {
    font-size: 32px;
    line-height: 40px;
}

.p3 {
    font-size: 24px;
    line-height: 32px;
}

.p4 {
    font-size: 16px;
    line-height: 24px;
}

.p5 {
    font-size: 8px;
    line-height: 16px;
}

/* Typography:Font Weight  */

.font-weight-light {
    font-weight: 300;
}

.font-weight-regular {
    font-weight: 400;
}

.font-weight-semibold {
    font-weight:550 ;
}

.font-weight-bold {
    font-weight:700;
}
.font-weight-black{
    font-weight:black ;
}

/* Border-radiius */

.border-radius-S{
  border-radius:5px;
}
.border-radius-M{
    border-radius:10px;
  }

  .border-radius-L{
    border-radius:15px;
  }

  .border-radius-XL{
    border-radius:999px;
  }


  
