.badge-container{
 display:flex;
 gap:2rem;
}
.badge-parent {
    position: relative;
    max-width: fit-content;
    padding: 3px;
  
  }   
  .badge {
    position: absolute;
    background-color: red;
    color: white;
   max-width: fit-content;
    border-radius: 50%;
    text-align:center;
    padding: 5px;
    top: 0px;
    right: 0px;
  }
