.badge-parent {
    position: relative;
    max-width: fit-content;
    padding: 3px;

  }
  .badge-img-parent {
    position: relative;
    padding: 3px;
  }
    
  .badge {
    position: absolute;
    background-color: red;
    color: white;
    height:25px;
    width:25px;
    border-radius: 50%;
    text-align:center;
    padding: 5px;
    top: 0px;
    right: 0px;
  }